.order.anger1 {
	background-color: #FFE6E6;
}

.order.anger2 {
	background-color: #FFD6D6;
}

.order.anger3 {
	background-color: #FFB8B8;
}

.order.anger4 {
	background-color: #FF8C8C;
}

.order.anger5 {
	background-color: #FF7070;
}

.fucking-right {
    float: right;
    clear: both;
    position: relative;
    bottom: 77px;
}

.ffucking-right {
    float: right;
    clear: both;
    position: relative;   
    right: 12px;
}


.order.anger6,
.order.anger7,
.order.anger8,
.order.anger9,
.order.anger10,
.order.anger11,
.order.anger12,
.order.anger13,
.order.anger14,
.order.anger15,
.order.anger16,
.order.anger17,
.order.anger18,
.order.anger19,
.order.anger20,
.order.anger21,
.order.anger22,
.order.anger23,
.order.anger24,
.order.anger25 {
    animation-name: shake;
    animation-duration: 0.8s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
	background-color: #FF3B3B;
}

.kitchen-page {
    margin: 1em;
    background-color: white !important;
}

.cart-sugg-item {
    cursor: pointer;
}

/*#//////////////////////////*/
@keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(1deg); }
    20% { transform: translate(-3px, 0px) rotate(0deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(-1deg); }
    50% { transform: translate(-1px, 2px) rotate(0deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(2deg); }
    80% { transform: translate(-1px, -1px) rotate(0deg); }
    90% { transform: translate(2px, 2px) rotate(-2deg); }
    100% { transform: translate(1px, -2px) rotate(0deg); }
}